{
  "presets": [
    "env",
    "@babel/preset-typescript"
  ],
  "plugins": [
    "react-hot-loader/babel",
    "babel-plugin-styled-components",
    [
      "module-resolver",
      {
        "root": [
          "./src"
        ],
        "extensions": [
          ".js",
          ".jsx",
          ".ts",
          ".tsx"
        ]
      }
    ]
  ]
}
